
@import "style-bottom";

/* body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
html,body{
	height: 100%;
	background: #f4f4f4;
}
body{
	display: flex;
	flex-direction: column;
} */

/* site-nav */
.site-nav{
	height: 30px;
    line-height: 30px;
    background: #f6f6f6;
    .site-nav-warp{
       
        @include size($fixed-width,30px);
        margin: 0 auto;
        // background: #f0c4c4;
        .site-nav-left{
            float: left;
        }
        a{
            color: #474747;
            font-size: 12px;
            }
        span{
            margin: 0 10px;
            display: inline-block;
            
            @include size(1px,10px);
            background:#d3ccd3;
        }
        .site-nav-right{
            float: right;
        }
        a:hover{
            color: #fc002d;
        }
    }
}

/* header */

.header{
	
    @include size(100%,112px);
    background: #fff;
    .header-body{
        @include size($fixed-width,112px);
        margin: 0 auto;
        .logo{
            float: left;
            @include size(329px,58px);
            background: url(../img/logo.png) no-repeat;
            background-size: 100% 100%;
            margin: 32px 15px 0 0;
        }
        .search{
            float: left;
            @include size(600px,60px);
            margin: 30px 0 0 80px;
            .search-top{
                @include size(600px,38px);
                margin-bottom: 4px;
                /* background: #f6f6f6; */
                .search-input{
                    border-top-left-radius: 19px;
                    border-bottom-left-radius: 19px;
                    border: 2px solid #fd4165;
                    overflow: hidden;
                    float: left;
                }
                .search-img{
                    float: left;
                    @include size(15px,15px);
                    margin: 9px 7px 0px 12px;
                }
                .inp{
                    float: left;
                    @include size(480px,28px);
                    padding: 0;
                    outline: none;
                    border: 0 none;
                    font-size: 12px;
                    margin: 3px 0;
                    margin-right:8px ;
                }
                .search-suo{
                    float: left;
                    @include size(74px,38px);
                    border-top-right-radius: 19px;
                    border-bottom-right-radius: 19px;
                    background-color: #fd4165;
                    color: #fff;
                    text-align: center;
                    line-height: 38px;
                    cursor: pointer;
                }
            }
            .search-bottom{
                @include size(585px,18px);
                padding-left: 15px;
                line-height: 18px;
                a{
                    color: #474747;
                    font-size: 12px;
                }
                a:hover{
                    color: #fc002d;
                }
                span{
                    margin: 0 10px;
                    display: inline-block;
                    @include size(1px,10px);
                    background:#d3ccd3;
                }
            }
        }
        .header-code{
            float: right;
            margin: 16px 0;
            img{
                @include size(80px,80px);
            }
        }
    }
}

/* menu */
.menu{
    background: #fc002d;
    @include size(100%,35px);
    .menu-cont{
        @include size($fixed-width,35px);
        margin: 0 auto;
        list-style: none;
        line-height: 35px;
        color: white;
        
    /* menu-first */
        .menu-first{
            @include size(230px,35px);
            line-height: 35px;
            text-align: center;
            cursor: pointer;
            float: left;
            @include background(#df022d);
            margin-right: 10px;
            .menu_one{
                position: absolute;
                z-index: 10000;
                box-shadow: 0 0 8px 1px rgba(0,0,0,.08);
                .lin{
                    @include size(200px,35px);
                    @include background(#fff);
                    text-align: center;
                    position: relative;
                    padding-left: 30px;
                    line-height: 35px;
                    font-size: 13px;
                    color: #333;
                    cursor: default;
                    /* display: none; */
                    .icon{
                        float: left;
                        width: 17px;
                        height: 18px;
                        @include background(url(../img/menu11.png) no-repeat);
                        margin: 8px 9px 0 -18px;
                    }
                    .menu_two{
                        position: absolute;
                        left: 230px;
                        width: 695px;
                        min-height: 359px;
                        @include background(#fff);
                        border: 2px solid #fd4165;
                        padding: 6px 15px 16px 30px;
                        display: none;
                        z-index: 100px;
                        li{
                            width: 695px;
                            // height: 50px;
                            margin-top: 10px;
                            // background-color: #8adaee;
                            .lis-1{
                                height: 26px;
                                line-height: 26px;
                                font-size: 14px;
                                text-align: start;
                                a{
                                    line-height: 26px;
                                    color: #fc002d;
                                    font-size: 14px;
                                }
                            }
                            .lis-2{
                                // height: 24px;
                                line-height: 24px;
                                font-size: 12px;
                                text-align: start;
                            }
                            
                            a{
                                color: #333;
                                font-weight: 400;
                                margin-right: 15px;
                            }
                            .lis-2 a:hover{
                                color: #fc002d;
                            }

                        }
                    }
                    .lins1{
                        top: 0;
                    }
                    .lins2{
                        top: -35px;
                    } 
                    .lins3{
                        top: -70px;
                    } 
                    .lins4{
                        top: -105px;
                    } 
                    .lins5{
                        top: -140px;
                    } 
                    .lins6{
                        top: -175px;
                    }
                    .lins7{
                        top: -210px;
                    } 
                    .lins8{
                        top: -245px;
                    } 
                    .lins9{
                        top: -280px;
                    } 
                    .lins10{
                        top: -315px;
                    } 
                    .lins11{
                        top: -350px;
                    } 
                    .icon-1{
                        @include background-position(0 1px);
                    }
                    .icon-2{
                        @include background-position(0 -32px);
                    } 
                    .icon-3{
                        @include background-position(0 -67px);
                    }
                    .icon-4{
                        @include background-position(0 -101px);
                    } 
                    .icon-5{
                        @include background-position(0 -134px);
                    } 
                    .icon-6{
                        @include background-position(0 -168px);
                    }  
                    .icon-7{
                        @include background-position(0 -202px);
                    } 
                    .icon-8{
                        @include background-position(0 -237px);
                    } 
                    .icon-9{
                        @include background-position(0 -271px);
                    } 
                    .icon-10{
                        @include background-position(0 -304px);
                    } 
                    .icon-11{
                        @include background-position(0 -339px);
                    }

                }
                .lin:hover .icon{
                    @include background(url(../img/menu.png) no-repeat);
                }
                .lin:hover .icon-1{
                    @include background-position(0 1px);
                }
                .lin:hover .icon-2{
                    @include background-position(0 -32px);
                } 
                .lin:hover .icon-3{
                    @include background-position(0 -67px);
                }
                .lin:hover .icon-4{
                    @include background-position(0 -101px);
                } 
                .lin:hover .icon-5{
                    @include background-position(0 -134px);
                } 
                .lin:hover .icon-6{
                    @include background-position(0 -168px);
                }  
                .lin:hover .icon-7{
                    @include background-position(0 -202px);
                } 
                .lin:hover .icon-8{
                    @include background-position(0 -237px);
                } 
                .lin:hover .icon-9{
                    @include background-position(0 -271px);
                } 
                .lin:hover .icon-10{
                    @include background-position(0 -304px);
                } 
                .lin:hover .icon-11{
                    @include background-position(0 -339px);
                }
                .lin:hover{
                    @include background(#fc002d);
                    color: #fff;
                }
                .lin:hover .menu_two{
                    display: block;
                    position: absolute;
                    z-index: 10000;
                }
            }
        }
        .menu-first:hover .menu_one .lin{
            display: block;
        }


    /* menu_1 */
        .menu1{
            float: left;
            >li{
                width: 115px;
                height: 35px;
                background-color: #fc002d;
                float: left;
                text-align: center;
                line-height: 35px;
                position: relative;
                cursor: pointer;
                .san{
                    position: absolute;
                    top: 15px;
                    left: 95px;
                    width: 0; 
                    height: 0;
                    border-width: 5px;
                    border-style: solid;
                    border-color:#fff transparent transparent transparent;
                }
                .menu2{
                    position: absolute;
                    top: 35px;
                    left: 0;
                    width: 115px;
                    height: 140px;
                    display: none;
                    background-color: #df022d;
                    z-index: 1000;
                }
                .menu2>li{
                    height: 35px;
                    background-color: #df022d;
                    cursor: pointer;
                }
                .menu2>li:hover{
                    background-color: #c30008;
                }
            }
            li:hover .san{
                position: absolute;
                top: 10px;
                left: 95px;
                border-color:transparent transparent #fff transparent;
            }
            li:hover{
                @include background(#df022d);
            }
            li:nth-child(5):hover .menu2 {
                display: block;
            }
            
        }

    }
}


/* content */
.content{
	width: 100%;
	// background-color: rgb(187, 223, 219);
	.content-t{
        width: $fixed-width;
        // background-color: rgb(11, 110, 100);
        margin: 0 auto 34px;
        position: relative;
        z-index: 1;


        /* swiper */

        
        .swiper-container{
            @include size(730px,390px);
            margin: 10px 10px 0 240px;
        }
        .swiper-slide {
            float: left;
            text-align: center;
            font-size: 18px;
            /* background: rgb(236, 193, 193); */
            
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .content-right{
            @include size(220px,390px);
            margin-top: 10px;
            // background-color: tomato;
            position: absolute;
            right: 0;
            top: -10px;
            .login{
                @include size(218px,198px);
                margin-bottom: 5px;
                @include background(#fff);
                border: 1px solid #ebebeb;
                .title{
                    font-size: 14px;
                    color: #fc002d;
                    text-align: center;
                    line-height: 34px;
                    @include size(100%,34px);
                    border-bottom: 1px solid #f4f4f4;
                }
                .tent{
                    @include size(218px,126px);
                    text-align: center;
                    .phone{
                        @include size(182px,30px);
                        @include background(#fff);
                        border: 1px solid #e5e5e5;
                        outline: none;
                        font-size: 12px;
                        color: #333;
                        margin-top: 15px;
                        padding: 1px 2px;
                        padding-left: 11px;
                    }
                    .password{
                        @include size(182px,30px);
                        @include background(#fff);
                        border: 1px solid #e5e5e5;
                        outline: none;
                        font-size: 12px;
                        color: #333;
                        margin-top: 9px;
                        padding: 1px 2px;
                        padding-left: 11px;
                    }
                    .loginBtn{
                        margin-top: 10px;
                        @include size(197px,32px);
                        background-image: linear-gradient(90deg,#fd4165,#fc002d),linear-gradient(#fff,#fff);
                        border-radius: 16px;
                        border: 1px solid #fd4065;
                        opacity: .4;
                        color: #fffefe;
                        font-size: 14px;
                        cursor: pointer;
                        outline: none;
                    }
                    .option{
                        margin-top: 8px;
                        font-size: 12px;
                        overflow: hidden;
                        >a:first-child {
                            float: left;
                            margin-left: 16px;
                            text-decoration: none;
                            color: #666;
                        }
                        >a:last-child {
                            float: right;
                            margin-right: 14px;
                            text-decoration: none;
                            color: #666;
                        }
                    }
                    
                }
            }
            .news{
                @include size(220px,185px);
                @include background(#fff);
                border: 1px solid #ebebeb;
                padding:  14px 58px 15px;
                box-sizing: border-box;
                a{  
                    display: inline-block;
                    @include size(98px,24px);
                    color: #333;
                    margin-bottom: 16px;
                    overflow: hidden;
                    div{
                        float: left;
                        margin-right: 13px;
                    }
                    span{
                        font-size: 14px;
                        float: left;
                        line-height: 1.5;
                    }
                }
               
            }
        }
    }
}

/* hot */
.hot{
    @include size(100%,341px);
}
.hot .hot-buy{
    @include size($fixed-width,341px);
	margin: 0 auto;
    // background-color: wheat;
    .hot-title{
        overflow: hidden;
        h3{
            float: left;
            font-weight: 400;
            cursor: pointer;
        }
        .reset{
            float: right;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            img{
                @include size(14px,14px);
            }
        }
        .reset:hover{
            color: #fc002d;
        }
    }
    .hot-content{
        @include size(1160px,257px);
        margin-top: 7px;
        padding: 19px 20px 30px;
        background-color: #fff;
        a{  
            @include size(180px,257px);
            display: inline-block;
            margin-right: 11px;
            cursor: pointer;
            text-align: center;
            img{
                @include size(180px,131px);
            }
            .good-name{
                margin: 10px 0 7px;
                padding: 0 7px;
                font-size: 14px;
                color: #000;
                text-align: center;
                height: 40px;
                line-height: 20px;
            }
            .good-price{
                @include size(100%,20px);
                text-align: center;
                line-height: 20px;
                font-size: 18px;
                color: #f33;
            }
            button{
                @include size(120px,32px);
                text-align: center;
                line-height: 30px;
                background-color: #fff;
                border-radius: 2px;
                border: 1px solid #fc002d;
                margin: 13px auto 0;
                outline: none;
                cursor: pointer;
                color: #fc002d;
            }
            button:hover{
                background-color: #fc002d;
                color: #fff;
            }
        }
        a:hover .good-name{
            color: #fc002d;
        }
        a:hover img{
            transform: scale(1.1);
            transition: 0.5s;
        }
        a:nth-child(6){
            margin-right: 0px;
        }
    }
}

  /* wr */
.wr{
    @include size(100%,110px);
    margin-top: 20px;
    .soft{
        width: $fixed-width;
        height: 110px;
        margin: 0 auto;
        a{
            display: block;
        }
    }
}

/* content */
.content-product{
    @include size(100%,565px);
    margin-top: 20px;
    .content-list{
        width: $fixed-width;
        height: 565px;
        margin: 0 auto;
        // background-color: #e7a8b4;
        .con-title{
            height: 40px;
            h3{
                float: left;
                line-height: 40px;
                font-size: 20px;
                font-weight: 400;
                color: #333;
            }
            .con-right{
                float: right;
                font-family: MicrosoftYaHei;
                font-size: 14px;
                font-weight: 400;
                color: #333;
                line-height: 40px;
                a{
                    margin-left: 15px;
                    color: #333;
                }
                a:hover{
                    color: #fc002d;
                }
            }
        }
        .con-content{
            width: $fixed-width;
            height: 525px;
            overflow: hidden;
            .con-content-left{
                width: 230px;
                height: 525px;
                float: left;
                cursor: pointer;
                position: relative;
                background: url(../img/floor01.jpg);

                .con-content-left-title{
                    position: absolute;
                    left: 60px;
                    top: 57px;
                    font-size: 28px;
                    color: #fff;
                    font-weight: 700;
                }
            }
            .floor1{
                background: url(../img/floor01.jpg);
            }
            .floor2{
                background: url(../img/floor11.jpg);
            }
            .floor3{
                background: url(../img/floor21.jpg);
            }
            .floor4{
                background: url(../img/floor31.jpg);
            }
            .floor5{
                background: url(../img/floor41.jpg);
            }
            .floor6{
                background: url(../img/floor51.jpg);
            }
            .con-content-right{
                float: right;
                width: 960px;
                height: 525px;
                overflow: hidden;
                .lins{
                    width: 230px;
                    height: 255px;
                    background: #fff;
                    cursor: pointer;
                    margin-bottom: 13px;
                    margin-right: 13px;
                    float: left;
                    .product{
                        display: block;
                        width: 230px;
                        height: 255px;
                        img{
                            width: 160px;
                            height: 120px;
                            margin: 25px 35px 0;
                        }
                        .pro-name{
                            font-size: 14px;
                            color: #333;
                            line-height: 17px;
                            width: 183px;
                            height: 35px;
                            margin: 21px auto 0;
                            text-align: center;
                        }
                        .pro-price{
                            width: 100%;
                            height: 12px;
                            font-family: MicrosoftYaHei;
                            font-size: 16px;
                            color: #f33;
                            margin: 15px auto 0;
                            text-align: center;
                        }
                    }
                    a:hover img{
                        transform: scale(1.1);
                        transition: 0.5s;
                    }
                }
                .lins:nth-child(4n){
                    margin-right: 0;
                    padding-right: 1px;
                }
            }

        }
    }
}

/* plant */
.plant{
    width: 100%;
    height: 355px;
    margin-top: 20px;
    margin-bottom: 40px;
    .plant-form{
        width: $fixed-width;
        height: 355px;
        // background: rgb(194, 238, 223);
        margin: 0 auto;
        .plant-title{
            height: 28px;
            h3{
                font-size: 20px;
                color: #333;
                float: left;
                margin-left: 3px;
                cursor: pointer;
                font-weight: 400;
                line-height: 28px;
            } 
            a{
                float: right;
                font-size: 14px;
                color: #666;
                cursor: pointer;
                line-height: 28px;
            }
            a:hover{
                color: #fd4065;
            }
        }
        .plant-content{
            margin-top: 7px;
            // overflow: hidden;
            a{
                float: left;
                width: 291px;
                height: 150px;
                margin-right: 12px;
                margin-bottom: 20px;
                .image{
                    width: 291px;
                    height: 100px;
                    background-color: #fff;
                    img{
                        width: 291px;
                        height: 74px;
                        margin: 13px 0;
                    }
                }
                .name{
                    width: 291px;
                    height: 50px;
                    background-color: #f8f8f8;
                    text-align: center;
                    line-height: 50px;
                    font-size: 16px;
                    color: #333;
                }
            }
            a:hover {
                transform: translateY(-2px);
                transition: 0.5s;
                box-shadow: 0 3px 10px rgba(0,0,0,.05);
                z-index: 2;
            }
            a:hover .name{
                color: #fd4065;
            }
            a:nth-child(4n){
                margin-right: 0;
            }
        }
    }
}

/* footer */
/* .footer{
    width: 100%;
    height: 140px;
    background: #302e2e;
    .footer-con{
        width: 1200px;
        height: 100px;
        margin: 0 auto;
        padding: 20px 0;
        overflow: hidden;
        .qrcode{
            float: right;
            img{
                width: 100px;   
            }
        }
        .concat{
            margin-top: 20px;
            height: 24px;
            line-height: 24px;
            overflow: hidden;
            color: #999;
            .foot-icon{
                margin-right: 10px;
            }
            .tel-text{
                font-size: 14px;
                font-weight: 700;
                display: inline-block;
                margin-right: 10px;
                vertical-align: top;
            }
            .tel{
                font-size: 18px;
                color: #fc002d;
                vertical-align: top;
            }
        }
        .copy{
            margin-top: 10px;
            font-size: 12px;
            line-height: 18px;
            color: #999;
            span{
                margin-right: 15px;
            }
        }
    }
}
 */












