body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
html,body{
	height: 100%;
	background: #f4f4f4;
}
body{
	display: flex;
	flex-direction: column;
}


/* site-nav */
.site-nav{
	height: 30px;
    line-height: 30px;
    background: #f6f6f6;
}
.site-nav .site-nav-warp{
	height: 30px;
	width: 1200px;
	margin: 0 auto;
	background: #f0c4c4;
}
.site-nav .site-nav-warp .site-nav-left{
	float: left;
}
.site-nav .site-nav-warp  a{
	color: #474747;
	font-size: 12px;
}
.site-nav .site-nav-warp  span{
	margin: 0 10px;
	display: inline-block;
    height: 10px;
	width: 1px;
	background:#d3ccd3;
}
.site-nav .site-nav-warp .site-nav-right{
	float: right;
}
.site-nav .site-nav-warp a:hover{
	color: #fc002d;
}

/* header */
.header{
	width: 100%;
	height: 112px;
    background: rgb(208, 237, 238);
}
.header .header-body{
	width: 1200px;
	height: 112px;
	margin: 0 auto;
    background: rgb(196, 226, 228);
}
.header .header-body .logo{
	float: left;
    width: 329px;
    height: 58px;
    background: url(../img/logo.png) no-repeat;
    background-size: 100% 100%;
    margin: 32px 15px 0 0;
}
.header .header-body .search{
	float: left;
	width: 600px;
	height: 60px;
    margin: 30px 0 0 80px;
}
.header .header-body .search .search-top{
	width: 600px;
	height: 38px;
	margin-bottom: 4px;
	/* background: #f6f6f6; */
}
.header .header-body .search .search-top .search-input{
	border-top-left-radius: 19px;
	border-bottom-left-radius: 19px;
	border: 2px solid #fd4165;
	overflow: hidden;
	float: left;
}
.header .header-body .search .search-top .search-img{
	float: left;
	width: 15px;
	height: 15px;
	margin: 9px 7px 0px 12px;
}
.header .header-body .search .search-top .inp{
	float: left;
	width: 480px;
	height: 28px;
	padding: 0;
    outline: none;
	border: 0 none;
	font-size: 12px;
	margin: 3px 0;
	margin-right:8px ;
}
.header .header-body .search .search-top .search-suo{
	float: left;
	width: 74px;
	height: 38px;
	border-top-right-radius: 19px;
	border-bottom-right-radius: 19px;
	background-color: #fd4165;
	color: #fff;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
}

.header .header-body .search .search-bottom{
	width: 585px;
	height: 18px;
	/* background: #f6f6f6; */
	padding-left: 15px;
	line-height: 18px;
}
.header .header-body .search .search-bottom a{
	color: #474747;
	font-size: 12px;
}
.header .header-body .search .search-bottom a:hover{
	color: #fc002d;
}
.header .header-body .search .search-bottom span{
	margin: 0 10px;
	display: inline-block;
    height: 10px;
	width: 1px;
	background:#d3ccd3;
}
.header .header-body .header-code{
	float: right;
	margin: 16px 0;
}
.header .header-body .header-code img{
	width: 80px;
	height: 80px;
}
/* menu */
.menu{
	width: 100%;
    background: #fc002d;
    height: 35px;
}
.menu .menu-cont{
	width: 1200px;
	height: 35px;
	margin: 0 auto;
	/* background: rgb(115, 204, 211); */
	list-style: none;
	line-height: 35px;
	color: white;
}
/* menu-first */
.menu .menu-cont .menu-first{
	width: 230px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
	float: left;
	background-color: #df022d;
	margin-right: 10px;
}
.menu .menu-cont .menu-first:hover .menu_one .lin{
	display: block;
}
.menu .menu-cont .menu_one{
	position: absolute;
	z-index: 10000;
	box-shadow: 0 0 8px 1px rgba(0,0,0,.08);
}
.menu .menu-cont  .menu-first .menu_one .lin{
	width: 200px;
	height: 35px;
	background-color: #fff;
	text-align: center;
	position: relative;
	padding-left: 30px;
    line-height: 35px;
    font-size: 13px;
    color: #333;
    cursor: default;
	/* display: none; */
}
.menu .menu-cont  .menu-first .menu_one .lin .icon{
	float: left;
	width: 17px;
    height: 18px;
	background: url(../img/menu11.png) no-repeat;
	margin: 8px 9px 0 -18px;
}
.menu .menu-cont  .menu-first .menu_one .lin:hover .icon{
	background: url(../img/menu.png) no-repeat;
}
.menu .menu-cont  .menu-first .menu_one li .menu_two{
	position: absolute;
	left: 230px;
	width: 695px;
	height: 359px;
	background-color: #fff;
	border: 2px solid #fd4165;
	padding: 6px 15px 16px 30px;
	display: none;
	z-index: 100px;
}
.menu .menu-cont  .menu-first .menu_one .lin .menu_two li{
	width: 695px;
	height: 50px;
	margin-top: 10px;
	background-color: #8adaee;
}
.menu .menu-cont  .menu-first .menu_one .lin .menu_two li .lis-1{
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	text-align: start;
}
.menu .menu-cont  .menu-first .menu_one .lin .menu_two li .lis-1 a{
	
	line-height: 26px;
	color: #fc002d;
	font-size: 14px;
}
.menu .menu-cont  .menu-first .menu_one .lin .menu_two li .lis-2{
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	text-align: start;
}
.menu .menu-cont  .menu-first .menu_one .lin .menu_two li  a{
	color: #333;
	font-weight: 100;
	margin-right: 15px;
}
.menu .menu-cont  .menu-first .menu_one .lin .menu_two li .lis-2 a:hover{
	color: #fc002d;
}

.menu .menu-cont .menu_one li .lins1{
	top: 0;
}
.menu .menu-cont  .menu-first .menu_one .lin .icon-1{
	background-position: 0 1px;
} 
.menu .menu-cont .menu_one li .lins2{
	top: -35px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-2{
	background-position: 0 -32px;
} 
.menu .menu-cont .menu_one li .lins3{
	top: -70px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-3{
	background-position: 0 -67px;
} 
.menu .menu-cont .menu_one li .lins4{
	top: -105px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-4{
	background-position: 0 -101px;
} 
.menu .menu-cont .menu_one li .lins5{
	top: -140px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-5{
	background-position: 0 -134px;
} 
.menu .menu-cont .menu_one li .lins6{
	top: -175px;
}
.menu .menu-cont  .menu-first .menu_one .lin .icon-6{
	background-position: 0 -168px;
}  
.menu .menu-cont .menu_one li .lins7{
	top: -210px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-7{
	background-position: 0 -202px;
} 
.menu .menu-cont .menu_one li .lins8{
	top: -245px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-8{
	background-position: 0 -237px;
} 
.menu .menu-cont .menu_one li .lins9{
	top: -280px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-9{
	background-position: 0 -271px;
} 
.menu .menu-cont .menu_one li .lins10{
	top: -315px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-10{
	background-position: 0 -304px;
} 
.menu .menu-cont .menu_one li .lins11{
	top: -350px;
} 
.menu .menu-cont  .menu-first .menu_one .lin .icon-11{
	background-position: 0 -339px;
} 



.menu .menu-cont .menu_one .lin:hover{
	background-color:  #fc002d;
}
.menu .menu-cont .menu_one .lin:hover .menu_two{
	display: block;
	position: absolute;
	z-index: 10000;
}

.menu .menu-cont .menu_one li .menu_two li:hover{
	background-color: rgb(137, 211, 68);
	
}
/* menu_two */





/* menu_1 */

.menu .menu-cont .menu_1{
	float: left;
}
.menu .menu-cont .menu_1>li{
	width: 115px;
	height: 35px;
	background-color: #fc002d;
	float: left;
	text-align: center;
	line-height: 35px;
	position: relative;
	cursor: pointer;
}
.menu .menu-cont .menu_1 li .san{
	position: absolute;
	top: 15px;
	left: 95px;
	width: 0; 
	height: 0;
	border-width: 5px;
	border-style: solid;
	border-color:#fff transparent transparent transparent;
}
.menu .menu-cont .menu_1 li:hover .san{
	position: absolute;
	top: 10px;
	left: 95px;
	border-color:transparent transparent #fff transparent;
}
.menu .menu-cont .menu_1 li:hover{
	background-color: #df022d;
}

.menu .menu-cont .menu_1>li .menu_2{
	display: none;
}
.menu .menu-cont .menu_1 li:nth-child(5):hover .menu_2{
	display: block;
}
.menu .menu-cont .menu_1>li:hover .menu_2>li{
	height: 35px;
	background-color: #df022d;
	cursor: pointer;
}

.menu .menu-cont .menu_1 li .menu_2>li:hover{
	background-color: #c30008;
}

/* content */

.content{
	width: 100%;
	background-color: rgb(187, 223, 219);
	
}
.content .content-t{
	width: 1200px;
	background-color: rgb(11, 110, 100);
	margin: 0 auto 34px;
	position: relative;
	z-index: 1;
}

/* swiper */

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
}
.swiper-container {
	
	width: 730px;
	height: 390px;
	margin: 10px 10px 0 240px;
}
.swiper-slide {
	float: left;
	text-align: center;
	font-size: 18px;
	/* background: rgb(236, 193, 193); */
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.content .content-t .content-right{
    width: 220px;
    height: 390px;
	margin-top: 10px;
	background-color: tomato;
	position: absolute;
	right: 0;
	top: -10px;
}
/* hot */
.hot{
	width: 100%;
	height: 341px;
}
.hot .hot-buy{
	width: 1200px;
	height: 341px;
	margin: 0 auto;
	background-color: wheat;
}



/* floor */



/* footer */


